/*
Colors used:
Primary color (Deep Jungle Green): #275a55;
Secondary color (Jungle Green): #2B685D;
Tertiary color (Crayola): #F7C766;
Project background color (White): #FFFFFF
*/

header {
  background-color: #ffffff;
  /*   float: top; */
  width: 100%;
  padding: 0 0;
  border-bottom: 3px solid #4a4a4a;
  position: fixed;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.75);
}

body {
  background-color: #ffffff;
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #275a55;
}

main {
  padding-top: 50px;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
  width: 100%;
}

h2 {
  padding-top: 100px;
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
  line-height: 1.4;
}

/*images*/
img {
  width: 100%;
  height: auto;
}

/*links*/
a {
  color: #ffffff;
  text-decoration: none; /* No underlining */
}

a:visited {
  /* visited link */
  color: #275a55;
}

a:hover {
  color: #f7c766;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #994c30;
}

a:hover,
a:focus {
  color: #f7c766;
  text-decoration: underline;
}

a.button:visited {
  /* visited link */
  color: #ffffff;
}

/*buttons*/
.button {
  display: inline-block; /* */
  background-color: #275a55;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid gray; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #275a55;
  text-transform: uppercase;
  border: 2px solid gray;
}

.button.contact:hover {
  background-color: #275a55;
  color: #ffffff;
}

.button.cv {
  background-color: #275a55;
  text-transform: inherit;
  border: 2px solid #275a55;
  justify-content: center;
}

.button.cv:hover {
  background-color: #275a55;
  text-transform: capitalize;
  color: #ffffff;
}

/*layout styling*/
.container {
  padding: 0 15px;
  margin: auto;
  scroll-behavior: smooth;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
  clear: both;
}

.row p {
  color: #275a55;
}

#work.row h2,
h3,
h4,
h5,
p {
  color: #275a55;
}

#work.row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

.col-md-6 {
  width: 50%; /* 50% of the container  100 * 6/12 = 50 */
  text-align: left;
  color: #ffffff;
}

.col-md-3 {
  width: 25%; /* 50% of the container  100 * 3/12 = 25 */
}

[class*="col-"] {
  float: left;
  padding: 0 10px;
  padding: 10px 0;
}

/*navigation bar styling*/
.logo {
  width: 30px;
  margin-top: 25px;
  float: left;
}

.nav {
  display: inline-block;
  list-style-type: none;
}

.navigation li {
  display: inline-block;
  padding: 10px 10px;
}

.navigation li:not(:last-child) {
  margin-right: 1.5rem;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

.navtoggle {
    display: flex;
    justify-content: space-between;
}

.navtoggle li:not(:last-child) {
  display: none;
  padding: 0 0 10px;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
    display: block;
    padding: 10px 0;
    border-top: 1px solid #275a55;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.navtoggle li .icon {
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

/*hero styling*/
#hero {
  background-color: #275a55;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

#hero span {
  display: block;
  color: #f7c766;
}

#hero h1 {
  text-align: center; /* Centers text */
  margin: 0;
  color: #f7c766;
}

#hero h2 {
  text-align: center; /* Centers text */
  color: #f7c766;
}

#hero h3 {
  text-align: center;
  color: #f7c766;
}

#hero p {
  text-align: left;
  color: #f7c766;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/*about page styling*/
#about img {
  width: 40%;
  height: auto;
}

.aboutme h3 {
  text-align: center;
}

#about picture {
  width: 40%;
  height: auto;
}

#aboutme-2 {
  background-color: #275a55;
}

#aboutme-2 h3 {
  color: #ffffff;
}

#aboutme-2 h4 {
  color: #ffffff;
}

#aboutme-2 p {
  color: #ffffff;
}

#aboutme-2 h3 {
  padding-top: 50px;
  text-align: center;
}

#about.row p {
  color: #ffffff;
}

/*moon page styling*/
#moon main {
  padding-top: 0px;
}

#moon img {
  padding: 50px 0;
}

.section {
  background-color: #697386;
  color: #ffffff;
  text-align: center;
}

.section {
  background-color: #35435d;
}

/*footer styling*/
footer {
  background-color: #2b685d;
  color: #ffffff;
  clear: both;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

.changeFont {
  color: #f7c766;
  font-family: Lucida;
  font-style: italic;
}

footer#contact h3 {
  text-align: center;
  color: #ffffff;
}

footer#contact p {
  text-align: center;
  color: #ffffff;
}

footer#contact p {
  text-align: center;
  color: #ffffff;
}

footer#copyright {
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
}

.social-icons img {
  width: 30px;
}

.social-icons li {
  display: inline-block;
  padding: 0 10px;
}

.icon {
  padding: 0 10px 0 10px;
  fill: #000000;
}

.linkedin {
  width: 50%;
  float: right;
  text-align: left;
  padding-left: 10px;
}

.wix {
  width: 50%;
  float: right;
  text-align: left;
  padding-left: 10px;
}

/*media queries*/
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  main {
    padding-top: 120px;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  logo {
    min-width: 641px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li {
    display: inline-block;
    padding: 0px;
    border-top: 0px;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li .icon {
    display: block;
    right: 0;
    top: 2px;
    font-size: 20px;
    padding-right: 0;
  }

  #hero span {
    display: block;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about-page h3 {
    margin-top: 0;
  }
}

  #about-picture {
    width: 40%;
    height: auto;
  }

  /* ==============================
Large devices (1024px or larger)
================================= */
  @media only screen and (min-width: 1024px) {
    .container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      scroll-behavior: smooth;
    }

    .col-lg-7 {
      width: 60%;
      float: left;
    }

    .col-lg-5 {
      width: 40%;
    }
  }
}
