<head>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

}

img {
  width: 100%;
}

/*
Colors used:
Primary Color (Deep Jungle Green): #275a55;
Secondary Color (Jungle Green): #2B685D;
Tertiary Color (Crayola): #F7C766;
Project Background Color (white): #FFFFFF
*/


  body {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #f7c766;
  }

  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }

  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }

  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }


  a {
    color: #275a55;
    text-decoration: none; /* No underlining */
  }

  a:visited { /* visited link */
    color: #275a55;
  }

  a:hover {
    color: #f7c766;
    text-decoration: underline; /* Underlining when hovering over a link */
  }

  a:active { /* selected link */
    color: #994c30;
  }

  a:hover,
  a:focus {
    color: #f7c766;
    text-decoration: underline;
  }

  .button {
    display: inline-block; /* */
    background-color: #275a55;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #994c30; /* width of the border, type, color */
    transition: 0.2s opacity;
  }

  .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }

  .button.contact {
  background-color: transparent;
  color: #275a55;
  text-transform: uppercase;
  border: 2px solid #275a55;
}

.button.contact:hover {
  background-color: #275a55;
  color: #ffffff;
}


.button.cv {
background-color: transparent;
color: #275a55;
text-transform: uppercase;
border: 2px solid #275a55;
}

.button.cv:hover {
background-color: #275a55;
color: #ffffff;
}


.button.email {
background-color: transparent;
color: #275a55;
text-transform: uppercase;
border: 2px solid #275a55;
}

.button.email:hover {
background-color: #275a55;
color: #ffffff;
}
